﻿
<link href="~/Themes/flatly/TimeLine.css" rel="stylesheet" media="screen" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="~/Scripts/jquery.timelinr-0.9.54.js"></script>
     


    <script>
        $(function ()
        {
            $().timelinr({
                autoPlay: 'true',
                datesSpeed: 'slow',
                issuesSpeed: 'normal',
                autoPlayPause: '9000',
                autoPlayDirection: 'forward'
            })
        });
    </script>


<div id="timelineContainer" class="container-fluid">
    <div id="timeline">
        <ul id="dates">
            <li><a href="#1981">1981</a></li>
            <li><a href="#1998">1998</a></li>
            <li><a href="#1999">1999</a></li>
            <li><a href="#June-1999">June</a></li>
            <li><a href="#Sept-1999">Sept</a></li>
            <li><a href="#2000">2000</a></li>
            <li><a href="#2001">2001</a></li>
            <li><a href="#2004">2004</a></li>
            <li><a href="#Oct-2004">Oct</a></li>
            <li><a href="#2009">2009</a></li>
            <li><a href="#2012">2012</a></li>
            <li><a href="#May-2012">May</a></li>
            <li><a href="#2014">2014</a></li>
        </ul>
        <ul id="issues">
            <li id="1981">
                <img src="../../Themes/flatly/img/timeline/images/born.jpg" width="120" height="120" />
                <h1>January 28, 1981</h1>
                <p>Born in Houston,Texas</p>
            </li>
            <li id="1998">
                <img src="../../Themes/flatly/img/timeline/images/MEP.jpg" width="146" height="146" />
                <h1>June 14,1998</h1>
                <p>Enlisted in the Army through the Delay Entry Program (DEP)</p>
            </li>
            <li id="1999">
                <img src="../../Themes/flatly/img/timeline/images/High-School-Graduation.jpg" width="120" height="120" />
                <h1>May 25,1999</h1>
                <p>Graduated From High School</p>
            </li>
            <li id="June-1999">
                <img src="../../Themes/flatly/img/timeline/images/Ft-Jackson.jpg" width="120" height="120" />
                <h1>June 14, 1999</h1>
                <p>Went to Basic Training at Fort Jackson, SC</p>
            </li>
            <li id="Sept-1999">
                <img src="../../Themes/flatly/img/timeline/images/AIT.jpg" width="120" height="120" />
                <h1>September 1999</h1>
                <p>Went to Advanced Individual  Training (A.I.T) at Corry Station NTTC Pensacola,FL </p>
            </li>
            <li id="2000">
                <img src="../../Themes/flatly/img/timeline/images/Ft-Shafter.PNG" width="120" height="120" />
                <h1>April 2000</h1>
                <p>1st Duty Station Ft.Shafter, Hawaii worked at Camp Smith, Hawaii</p>
            </li>
            <li id="2001">
                <img src="../../Themes/flatly/img/timeline/images/Kunia.jpg" width="120" height="120" />
                <h1>September 01, 2001</h1>
                <p>2nd Duty Station at Kunia Regional Signal Operations Center (KRSOC) aka "The Tunnel" located at Kunia,Hawaii</p>
            </li>
            <li id="2004">
                <img src="../../Themes/flatly/img/timeline/images/Ft-Meade.jpg" width="120" height="120" />
                <h1>May 2004</h1>
                <p>3rd Duty Station NSA Headquarters aka "The MotherShip" located at Fort Meade, Maryland</p>
            </li>
            <li id="Oct-2005">
                <img src="../../Themes/flatly/img/timeline/images/ETS.PNG" width="120" height="120" />
                <h1>October 20, 2005</h1>
                <p>End Term of Service (ETS) from the Army did not reenlist. </p>
            </li>
            <li id="2009">
                <img src="../../Themes/flatly/img/timeline/images/Self-Employment.png" width="120" height="120" />
                <h1>Self Employment Work</h1>
                <p>
                    Search Engine Evaluator for Google through Leapforce
                    and a Title QA for Demand Studios
                </p>
            </li>

            <li id="2012">
                <img src="../../Themes/flatly/img/timeline/images/ASU.PNG" width="120" height="120" />
                <h1>Feburary 2012</h1>
                <p>
                    Enrolled at ASU For the Bachelor of Science in the
                    Information Systems Degree Program.
                </p>
            </li>

            <li id="May-2012">
                <img src="../../Themes/flatly/img/timeline/images/BloggersOnline.PNG" width="120" height="120" />
                <h1>May 2012</h1>
                <p>Became the owner of the Web Hosting Company BloggersOnline.Com</p>
            </li>


            <li id="2014">
                <img src="../../Themes/flatly/img/timeline/images/Studing.PNG" width="120" height="120" />
                <h1>March 2014</h1>
                <p>Currently a Senior Year at ASU working on completing the Bachelor of Science Information Systems Degree Program.</p>
            </li>


        </ul>
        <div id="grad_left"></div>
        <div id="grad_right"></div>
        <a href="#" id="next">+</a>
        <a href="#" id="prev">-</a>
    </div>
</div>

