﻿@{
    ViewBag.Title = "About";
}

 <h3>This website is an assignment for a course at ASU</h3>
    
 <p><b>Course:</b>  WEB320-09A Server-Side Web Programming Using ASP.NET</p> 
 <p><b>Assignment:</b>  #1 </p>

<p>This website is using the following technologies:</p>

<ul>
    <li>Asp.Net 4.5</li>
    <li>MVC (Model View Controller) Pattern</li>
    <li>C#</li>
    <li>Razor</li>
    <li>BootStrap</li>
    <li>Modernizr</li>
    <li>JQuery</li>
    <li>JavaScript</li>
    <li>HTML5</li>
    <li>CSS3</li>
</ul>


