﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Please Enter In Your Name";
}

@{
    var name = Request["FirstName"];
  if (IsPost & name != null)
    {
      <div class="row">
          <div id="message" class="col-md-5 col-md-push-2">
              <div class="alert alert-dismissable alert-success shadow">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <p>Good Morning @name!</p>
              </div>
          </div>
        </div>

    }
  else
  {
       name = Request["FirstName"];
        <div class="row">
            <div id="message" class="col-md-5 col-md-push-2">
                <div class="alert alert-dismissable alert-info shadow">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p>Hello Visitor, could I have your name please?</p>
                </div>
            </div>
        </div>
    }

}

<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#clearButton").on("click", function (e)
        {
            $(".alert").alert('close')
        }

           );
    }
    );
</script>


<div class="row">

   

    <div class="col-md-5 col-md-push-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">

                <!--------------Start of Form--------->

                <form action="" method="post" class="form-horizontal">

                    @Html.ValidationSummary()

                    <fieldset>

                        <div class="form-group">
                            <label for="FirstName" class="col-md-5 control-label">What is your Name?</label>
                            <div class="col-md-5">

                                <input class="form-control" id="FirstName" placeholder="Your First Name" type="text" name="FirstName"
                                       data-val="true"
                                       data-val-length="Your name must be at least 3 letters and no more than 10."
                                       data-val-length-max="10"
                                       data-val-length-min="3"
                                       data-val-required="You need to enter your name please.">

                            </div>
                        </div>


               <div class="form-group">
                   <div class="col-md-5 col-md-push-5 bs-component">
                       
                       <button id="submitButton" type="submit" value="Submit" class="btn btn-primary"
                        data-toggle="tooltip" data-placement="bottom" title="Submit Your Name" data-original-title="Submit Your Name">
                           Submit
                       </button>
                       
                       
                       <button id="clearButton" type="reset" value="Reset" class="btn btn-default" 
                        data-toggle="tooltip" data-placement="bottom" title="Clear Your Name" data-original-title="Clear Your Name">
                        Clear
                       </button>

                   </div>
                        </div>
                    </fieldset>
                </form>

               
                <!--------------End of Form----------->
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootswatch.js"></script>
    }
