﻿@{
    ViewBag.Title = "Brian Keith Davis";
    
}




@*<div class="container-fluid">*@

    <div class="row">

        <!-----------Info Panel---------------------->
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Information</h3>
                </div>
                <div class="panel-body">
                    <img class="padding-right img-styled" src="../../Themes/flatly/img/f1.png" alt="" align="left" />
                    <div class="row">
                        <div class="">
                            <ul class=" list-unstyled">
                                <li> <b>Name:</b>  Brian K. Davis</li>
                                <li><b>  Age:</b>  33</li>
                                <li><b>Occupation:</b> Asp.Net C# Web Developer </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----End of Panel------------------------>

        <div class="col-md-5 col-md-push-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Favorite Web Sites</h3>
                </div>
                <div class="panel-body">

                    <table class="table table-striped table-responsive table-fullborder">

                        <thead>
                            <tr class="info">
                                <th class="col-md-4">Title</th>
                                <th class="col-md-3">URL</th>
                            </tr>
                        </thead>

                        <tr>
                            <td>Form to Enter Name</td>
                            <td><a href="~/form">Form to Enter Name</a></td>
                        </tr>

                        <tr>
                            <td>Web Developer Checklist</td>
                            <td><a href="http://webdevchecklist.com/">WebDevCheckList.com</a></td>
                        </tr>

                        <tr>
                            <td>Asp.Net Official Website</td>
                            <td><a href="http://asp.net">Asp.Net</a></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

</div>
   <!---End of First Row-->



    <div class="row">
        

        <!------------Start of Timeline Panel ------------------------------------->
        <div class="col-md-5 col-md">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Life History</h3>
                </div>
                <div class="panel-body">
                    <!--------------Start of Timeline--------->
                    @Html.Partial("~/Views/Home/_TimeLine.cshtml")
                    <!--------------End of Timeline----------->
                </div>
            </div>
        </div>
        <!------------End of Timeline Panel ------------------------------------->


   <!------------Start of Books Panel ------------------------------------->
        <div class="col-md-5">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Books </h3>
                </div>
                <div class="panel-body">
                    <!--------------Start of Books--------->
                    @Html.Partial("~/Views/Home/_Books2.cshtml")
                    <!--------------End of Books----------->
                </div>
            </div>
        </div>
   <!------------End of Books Panel ------------------------------------->     

 </div>
