﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script> 
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Themes/flatly/flatly.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("PageScripts", false)
   
</head>
<body>

  <!-----------------Start of Top NavBar-------------->
    @Html.Partial("~/Views/Shared/_TopNavBar.cshtml")
  <!------------------End of Top NavBar--------------->


    <div class="container-fluid body-content">
        @RenderBody()
        <hr />

        <div class="row">
            <footer>
                <p>&copy; @DateTime.Now.Year - Brian Keith Davis</p>
            </footer>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
  
</body>
</html>
